.why-shop {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;
}

.why-shop h2 {
    margin-bottom: 1rem;
}

.reasons {
    display: flex;
    justify-content: center;
    color: #666666;
}

.reasons ul {
    display: flex;
    list-style: none;
}

.reasons li {
    background: white;
    border-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) 2;
    margin-bottom: 12px;
    padding: 12px;
    margin-left: 20px;
}

.reasons h3 {
    font-weight: 600;
    color: #1a1a1a;
}
