#home-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.why-shop {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reasons {
    display: flex;
    justify-content: center;
    color: #666666;
}

.reasons ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.reasons li {
    background: white;
    border-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) 2;
    padding: 12px;
}

.reasons h3 {
    font-weight: 600;
    color: #1a1a1a;
}
