.footer {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
}
