.navbar {
    position: sticky;
    top: 0;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 2rem;
}

.cart-badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
}
